[submodule "v1"]
	path = v1
	url = https://gitlab.com/Hraesvel/AirBnB_clone.git
	branch = master
[submodule "deployment"]
	path = deployment
	url = https://gitlab.com/Hraesvel/AirBnB_Delpoy.git
	branch = master