[submodule "v1"]
	path = v1
	url = https://github.com/Ostoyae/AirBnB_clone.git
	branch = master
[submodule "v2"]
	path = v2
	url = https://github.com/Ostoyae/AirBnB_clone_v2.git
	branch = master

[submodule "v3"]
	path = v3
	url = https://github.com/Ostoyae/AirBnB_clone_v3.git
	branch = master

[submodule "v4"]
	path = v4
	url = https://github.com/Ostoyae/AirBnB_clone_v4.git
	branch = master

[submodule "deployment"]
	path = deployment
	url = https://github.com/Ostoyae/HBNB_Airbnb.git
	branch = master
